<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Custom EJS Home Page</title>
</head>
<body>
  <header>
    <h1>Welcome to Our Website</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </nav>
  </header>
  
  <main>
  
    <section class="featured-content">
      <h2>Featured Content</h2>
      <div class="content-item">
        <h3>workout</h3>
        
        
        <a href="/api/exercise/add">add work</a>
        <a href="/api/exercise/">go to workout</a>
      </div>
  
    </section>
  </main>

  <footer>
    <p>&copy; 2023 Custom EJS Website</p>
  </footer>
</body>
</html>
